.headerSection{
    height: 2rem;
}

.titleSection{
    align-items: center;
    /* text-align: center; */
    margin-top: 2%;
}
.searchSection{
    /* margin-top: 1%; */
    position: absolute;
    right: 4%;
}
.iconSection{
    margin: 0.5rem;
}
.iconStyle{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}
.CategoryStyle{
    text-align: center;
}
