.orderSection{
  min-height: 100%;
  /* background-color: aqua; */
}
.orderHeader {
  -webkit-box-shadow: 3px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px -1px rgba(0,0,0,0.75);
  text-align: center;
}
.title {
  /* background-color: aqua; */
  align-items: center;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.icons {
  /* display: flex; */
  /* align-items: center; */
  margin-top: 0.7rem;
}

.iconBox {
  margin: 0.3rem;
}

.optionsSection{
    margin-top: 0.8rem;
    align-content: center;
    align-items: center;
}
.OptionButtonStyle{
    margin: 0.2rem;
}

.sticky-section{
  position: sticky;
  top: 100%;
}
.totalPriceSection{
  margin-top: 4.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleBox{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.3rem;
}

.priceBox{
  
}

.paymentSection{
  margin-top: 0.5rem;
}
.paymentBox{
  margin-top: 0.8rem;
}
.parent-box{
  display: flex;
  justify-items: center;
  align-items: center;
}

.iconBox{
  margin: 0 auto;
}

.bottomSection{
  margin-top: 0.5rem;
}
.parent-bottom{
  display: flex;
  justify-items: center;
  align-items: center;
  height: 5rem;
}
#totalId{
  width: 18.5rem;
  border-bottom-right-radius: 20px;
}
.parent-bottom .iconBox{
  margin: 0 auto;
  margin-top: 0.5rem;

}