.orderHeader {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.title {
  /* background-color: aqua; */
  align-items: center;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.icons {
  /* display: flex; */
  /* align-items: center; */
  margin-top: 0.7rem;
}

.iconBox {
  margin: 0.3rem;
}

.optionsSection{
    margin-top: 0.8rem;
    align-content: center;
    align-items: center;
}
.OptionButtonStyle{
    margin: 0.2rem;
}
